<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>Icon</string>
			<key>CFBundleURLName</key>
			<string>com.radsoftinc.PhotoAura</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>PhotoAura</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>aura.reactiveshots.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Lato-Thin.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Lato-Light.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Lato-Black.ttf</string>
	</array>
</dict>
</plist>
